{% extends 'layouts/base.html' %}
{% block title %}Search the Cred Shed{% endblock %}
{% block content %}

{% include "layouts/search.html" %}

{% block header %}
<link href="/static/css/search.css" rel="stylesheet">
{% endblock %}

<div class="results-container container m-2" style="display:none">

  <div class="d-flex" style="width:100%">

    <div id="search-report" class="m-0 d-flex">
    </div>

    <div id="results-buttons" class="d-flex btn-group ml-auto mt-auto">
      <button type="button" class="btn btn-md btn-outline-secondary bg-light js-tooltip mr-2 js-copy-all" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
        clipboard
      </button>
      <button id="csv-download" class="btn btn-md btn-outline-secondary bg-light js-tooltip" data-toggle="tooltip" data-placement="top" title="Download CSV" role="button">
        .csv
      </button>
    </div>
  </div>

  <div id="accounts-table-div" class="container overflow-auto my-3 px-0">
    <table title="copy to clipboard" id="accounts-table" class="container-fluid table-light table-striped table-hover overflow-auto">
      <thead title="" class="py-2">
        <tr>
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Description</td>
        </tr>
      </thead>
      <tbody class="results-body text-nowrap">
        <tr style="display:none">
          <td>test@test.com</td>
          <td></td>
          <td>P@ssw0rd</td>
          <td>misc</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

{% endblock %}

{% block footer %}

  <!-- Clipboard JS -->
  <script src="{{ url_for('static', filename='js/clipboard.js') }}"></script>
  <!-- Metadata collapse toggle button JS -->
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

{% endblock footer %}