<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=0.7">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon/favicon.png') }}">

    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/thirdparty/popper-1.16.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thirdparty/jquery-3.4.1.min.js') }}"></script>

    <!-- jQuery UI -->
    <script src="{{ url_for('static', filename='thirdparty/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='thirdparty/jquery-ui-1.12.1.custom/jquery-ui.min.css') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thirdparty/bootstrap-4.4.1.min.css') }}">
    <script src="{{ url_for('static', filename='js/thirdparty/bootstrap-4.4.1.min.js') }}"></script>

    <!-- Cyborg theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thirdparty/cyborg-4.4.1.min.css') }}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='icon/thirdparty/fontawesome-free-5.12.0-web/css/all.css') }}">

    <!-- Chart.js -->
    <script src="{{ url_for('static', filename='js/thirdparty/chart-2.9.3.bundle.min.js') }}"></script>

    <!-- Global JS -->
    <script src="/js/global.js"></script>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    {% block header %}
    {% endblock %}

  </head>

  <body>
    <div class="container">

      {% include 'layouts/nav.html' %}

      <div id="main-content" class="mt-4 container">
        {% block content %}{% endblock %}
      </div>

    </div>

    <div id="main-footer" class="footer">
      {% block footer %}
      {% endblock %}
    </div>

    <div id="main-modals" class="modals">
      {% block modals %}
      {% endblock %}
    </div>

    <!-- div for "loading" message -->
    <div id="main-loading">
      Loading ...
    </div>

  </body>
</html>