# /etc/systemd/system/credshed-gui.service

[Unit]
Description=CredShed GUI
Requires=network.target credshed.service
After=network.target credshed.service

[Service]
TimeoutStartSec=0
RestartSec=10
Restart=always

# path to app
WorkingDirectory=/opt/credshed-gui

KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

# Main process
ExecStart=/usr/bin/uwsgi --chown-socket=www-data:www-data --socket /tmp/credshed.sock --chmod-socket=660 --plugins=python3 -w credshed-gui:app --processes=5 --master --vacuum --uid user --gid user

[Install]
WantedBy=multi-user.target